@font-face {
  font-family: "Gotham SSm";
  src: url("../fonts/GothamSSm-BoldItalic.woff2") format("woff2"),
    url("../fonts/GothamSSm-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Gotham SSm";
  src: url("../fonts/GothamSSm-BlackItalic.woff2") format("woff2"),
    url("../fonts/GothamSSm-BlackItalic.woff") format("woff");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Gotham SSm";
  src: url("../fonts/GothamSSm-LightItalic.woff2") format("woff2"),
    url("../fonts/GothamSSm-LightItalic.woff") format("woff");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Gotham SSm";
  src: url("../fonts/GothamSSm-MediumItalic.woff2") format("woff2"),
    url("../fonts/GothamSSm-MediumItalic.woff") format("woff");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Gotham SSm";
  src: url("../fonts/GothamSSm-Book.woff2") format("woff2"),
    url("../fonts/GothamSSm-Book.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Gotham SSm";
  src: url("../fonts/GothamSSm-BookItalic.woff2") format("woff2"),
    url("../fonts/GothamSSm-BookItalic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Gotham SSm";
  src: url("../fonts/GothamSSm-Black.woff2") format("woff2"),
    url("../fonts/GothamSSm-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Gotham SSm";
  src: url("../fonts/GothamSSm-Light.woff2") format("woff2"),
    url("../fonts/GothamSSm-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Gotham SSm";
  src: url("../fonts/GothamSSm-Bold.woff2") format("woff2"),
    url("../fonts/GothamSSm-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Gotham SSm";
  src: url("../fonts/GothamSSm-Medium.woff2") format("woff2"),
    url("../fonts/GothamSSm-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Gotham SSm";
  src: url("../fonts/GothamSSm-ExtraLightItalic.woff2") format("woff2"),
    url("../fonts/GothamSSm-ExtraLightItalic.woff") format("woff");
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Gotham SSm";
  src: url("../fonts/GothamSSm-ExtraLight.woff2") format("woff2"),
    url("../fonts/GothamSSm-ExtraLight.woff") format("woff");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}
