.background_card_columns_desktop {
  margin-bottom: 100px;
  position: relative;
  .slide_image_wrapper {
    position: relative;
    z-index: 1;
  }
  .slide_image_container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    //transition: 1s;
  }
  .slide_image {
    background-position: center;
    background-size: cover;
    border-radius: 16px;
    position: relative;
    width: 100%;
    height: 100%;

    &:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 1;
      background: rgba(46, 46, 46, 0.56);
    }
  }

  .slide_text_wrapper {
    position: absolute;
    width: 100%;
    top: 0;
    height: 100%;
    display: flex;
    align-items: center;
    z-index: 4;
  }

  .card {
    width: 100%;
    max-width: 33.333%;
    padding: 48px;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    transition: ease all 0.3s;
    background: none;

    &:hover {
      cursor: pointer;
    }

    &.active {
      background: rgba(37, 37, 37, 0.64);
      backdrop-filter: blur(8px);
      -webkit-backdrop-filter: blur(8px);

      .content {
        margin-bottom: 78px;
        overflow: initial;
        text-overflow: unset;
        display: -webkit-box;
        -webkit-line-clamp: none;
        line-clamp: none;
        -webkit-box-orient: unset;
        color: #fff;
      }

      .btn_group {
        opacity: 1;
        visibility: visible;
        height: auto;
      }
    }

    .inner-content {
      display: flex;
      flex-direction: column;
      margin-top: auto;
    }
  }

  .title {
    @include font(600, 32, 32px);
    text-align: left;
    margin-bottom: 34px;
    letter-spacing: -0.06em;
    color: #fff;
    text-align: left;
  }

  .content {
    overflow: hidden;
    @include font(500, 18, 27px);
    color: rgba(255, 255, 255, 0.64);
    letter-spacing: -0.015em;
    text-align: left;

    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
    transition: ease all 0.3s;
  }

  .btn_group {
    margin-top: auto;
    justify-content: flex-start;
    opacity: 0;
    visibility: hidden;
    height: 0;
    transition: ease all 0.3s;
  }
}
