.blog_category_landing_list {
  padding: 40px 0;

  .blog_item_card {
    display: flex;
    flex-direction: column;
    @media (min-width: $screen-md) {
      flex-direction: row;
    }

    .blog_item_image {
      width: 100%;
      margin-bottom: 36px;
      @media (min-width: $screen-md) {
        max-width: 50%;
        margin-right: 20px;
        margin-bottom: 0;
      }
    }
    .blog_item_body {
      width: 100%;
      @media (min-width: $screen-md) {
        max-width: 50%;
        margin-left: 20px;
      }
    }
  }

  .blog_item_image {
    margin-bottom: 0px;
  }

  h3 {
    margin-bottom: 24px;
  }
  .short_desc {
    p {
      @include font(500, 18, 27px);
      color: $grey2;
      letter-spacing: -0.015em;
      padding-bottom: 24px;
    }
  }

  .blog_item_tags {
    display: flex;
    flex-wrap: wrap;

    a {
      background: #3f3f3f;
      border-radius: 100px;
      padding: 4px 16px;
      @include font(500, 18, 27px);
      color: #fff;
      letter-spacing: -0.015em;
      margin: 0 16px 16px 0;
      transition: ease all 0.3s;

      &:hover {
        cursor: pointer;
        color: $black;
        background: #fff;
      }
    }
  }
}
