.blog_popular_topics {
  padding: 80px 0;
  @media (min-width: $screen-md) {
  }

  h3 {
    @include font(800, 48, 48px);
    color: #fff;
    letter-spacing: -0.06em;
    margin-bottom: 40px;
  }

  .popuar_topics {
    display: flex;
    flex-wrap: wrap;

    a {
      background: #3f3f3f;
      border-radius: 100px;
      padding: 4px 16px;
      @include font(500, 18, 27px);
      color: #fff;
      letter-spacing: -0.015em;
      margin: 0 16px 16px 0;
      transition: ease all 0.3s;

      &:hover {
        color: $black;
        background: #fff;
        cursor: pointer;
      }
    }
  }
}
