.blog_page_banner {
  .page_banner_image {
    background-size: cover;
    background-position: center;
  }

  .page_banner_text {
    top: 0;
    margin-top: 104px;
    @media (min-width: $screen-md) {
      margin-top: 209px;
    }
  }

  .container {
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  .back_button {
    position: absolute;
    top: 0;
    left: 24px;
    a {
      background: rgba(37, 37, 37, 0.4);
      border: 2px solid #ffffff;
      backdrop-filter: blur(8px);
      border-radius: 64px;
      transform: matrix(-1, 0, 0, 1, 0, 0);
      width: 56px;
      height: 56px;
      display: flex;
      align-items: center;
      justify-content: center;

      svg {
        width: 100%;
        max-width: 24px;
        transform: rotate(180deg);
      }
    }
  }

  .category {
    margin-top: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    a {
      @include font(600, 14, 14px);
      color: #fff;
      text-transform: uppercase;
      margin-bottom: 24px;
      text-align: center;
      @media (min-width: $screen-md) {
        margin-bottom: 40px;
      }
    }
  }

  .tags {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 40px;

    a {
      background: #3f3f3f;
      border-radius: 100px;
      padding: 4px 16px;
      @include font(500, 18, 27px);
      color: #fff;
      letter-spacing: -0.015em;
      margin: 0 16px 16px 0;
      transition: ease all 0.3s;

      &:hover {
        cursor: pointer;
        background: #fff;
        color: $black;
      }
    }
  }

  .read_time {
    @include font(600, 16, 16px);
    text-transform: uppercase;
    text-align: center;
    color: rgba(255, 255, 255, 0.64);
    margin-bottom: 40px;
    display: none;
    @media (min-width: $screen-md) {
      display: block;
    }
  }
}
