.blog_landing {
  .section_page_banner {
    .page_banner {
      margin-bottom: 0;
    }

    .page_banner_image {
      min-height: 100px;
      padding-top: 0;
      overflow: hidden;
    }

    .page_banner_text {
      bottom: 0;
    }
  }
}
