.featured_membership_cta {
  margin-bottom: 160px;
  @media (min-width: $screen-md) {
    margin-bottom: 200px;
  }

  .container {
    flex-direction: column;
  }

  .cards {
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
    @media (min-width: $screen-md) {
      flex-direction: row;
      margin-bottom: 56px;
    }
  }

  .card {
    background: #2e2e2e;
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    border-radius: 24px;
    padding: 32px;
    margin-bottom: 16px;
    order: 2;
    border: 4px solid transparent;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    @media (min-width: $screen-md) {
      max-width: 33.333%;
      margin: 0 8px;
    }
  }

  .title {
    @include font(600, 32, 32px);
    color: #fff;
    letter-spacing: -0.06em;
    text-align: center;
    margin-bottom: 24px;
  }

  .description {
    @include font(500, 18, 27px);
    color: #fff;
    text-align: center;
    letter-spacing: -0.015em;
  }

  .most_pop {
    order: 1;
    border: 4px solid $red;
    @media (min-width: $screen-md) {
      order: 2;
    }
  }
  .most_popular_tag {
    content: "Most Popular";
    position: absolute;
    top: -32px;
    background: $red;
    @include font(600, 16, 16px);
    color: #fff;
    padding: 8px 16px 5px;
    border-radius: 12px 12px 0px 0px;
    text-transform: uppercase;

    .icon {
      width: 10px;
      height: 10px;
      position: absolute;
      bottom: 3px;
    }

    .icon_left {
      left: -8px;
    }
    .icon_right {
      right: -8px;
    }
  }

  .container {
    .single_button {
      margin: 0 auto;
    }
  }
}
