.full_cta_top_content {

  .full_cta_top_content_container {
    display: flex;
    border-radius: 24px;
    overflow: hidden;
    background-color: #2E2E2E;
    flex-direction: column;

    @media (min-width: $screen-md) {
      flex-direction: row;
    }

    .content {
      width: 100%;
      max-width: 100%;
      padding: 24px 24px 48px 24px;

      @media (min-width: $screen-md) {
        padding: 48px;
        max-width: 50%;
      }

      h5 {
        @include h5();
        text-align: center;

        @media (min-width: $screen-md) {
          text-align: left;
        }

      }

      h4 {
        @include h4();
        color: #fff;
        text-align: center;
        margin-bottom: 24px;

        br {
          display: none;
        }

        @media (min-width: $screen-md) {
          text-align: left;

          br {
            display: block;
          }

        }

      }

      .inner-content {
        @include p();
        color: #fff;
        text-align: center;
        margin-bottom: 24px;

        @media (min-width: $screen-md) {
          text-align: left;
        }

      }

      .single_button {

        .btn {
          margin: 0 auto !important;
          width: unset !important;

          @media (min-width: $screen-md) {
           margin: unset !important;

          }
        }

      }

      .btn_group {
        flex-direction: column;

        @media (min-width: $screen-md) {
          flex-direction: row;
          justify-content: flex-start;
        }

        .btn {
          padding: 14px 24px;
          margin-bottom: 16px;
          min-width: unset;
          margin-left: 0;
          width: 100%;



          @media (min-width: $screen-md) {
            margin-left: 16px;
            min-width:unset;
            width: unset;

            &:first-of-type {
              margin-left: 0;
            }
          }

        }

      }

    }

    .image {
      width: 100%;
      max-width: 100%;
      position: relative;
      display: flex;
      height: 400px;

      @media (min-width: $screen-md) {
        height: unset;
      }

      .overlay {
        background: linear-gradient(0deg, #2E2E2E 0%, rgba(46, 46, 46, 0) 100%);
        width: 100%;
        height: 100%;
        position: absolute;
        top: 1px;
        left: 0;
        z-index: 4;

        @media (min-width: $screen-md) {
          background: linear-gradient(90deg, #2E2E2E 0%, rgba(46, 46, 46, 0) 100%);
          top: 0px;
        }

      }

      img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: absolute;
        z-index: 2;
      }

      @media (min-width: $screen-md) {
        max-width: 50%;
      }
    }

  }

  .left {

    .content {
      order: 1;

      @media (min-width: $screen-md) {
        order: 0;
      }

    }

    .image {
      order: 0;
    }

    @media (min-width: $screen-md) {
      order: 1;
    }

  }

  .right {

    .content {
      order: 1;

      @media (min-width: $screen-md) {
        order: 1;
      }

    }

    .image {
      order: 0;
    }

    @media (min-width: $screen-md) {
      order: 0;

      .overlay {
        background: linear-gradient(270deg, #2E2E2E 0%, rgba(46, 46, 46, 0) 100%) !important;
      }

    }

  }

}