.grid_blocks {

  .grid_block {
    display: flex;
    flex-direction: column;
    margin-bottom: 120px;

    @media (min-width: $screen-md) {
      column-gap: 80px;
      flex-direction: row;
      width: 100%;
    }

    .block_image {
      width: 100%;
      min-height: 300px;
      background-size: cover;
      background-position: 50%;
      border-radius: 25px;
      margin-bottom: 40px;

      @media (min-width: $screen-md) {
        min-height: 575px;
        flex-direction: row;
        margin-bottom: 0;
        width: 100%;
        max-width: 50%;
      }

    }

    .block_content {

      @media (min-width: $screen-md) {
        width: 100%;
        max-width: 50%;
      }

      .counter {
        @include font(450,14,100%);
        color: #fff;
        margin-bottom: 16px;
      }

      h2 {
        @include font(800,48,100%);
        color: #fff;
        margin-bottom: 24px;
      }

      h3 {
        @include font(450,14,150%);
        color: #d3d3d3;
        margin-bottom: 10.5px;
      }

      p {
        @include font(400,18,180%);
        color: #fff;
        margin-bottom: 24px;

      }

      ul {
        display: flex;
        gap: 16px;
        flex-wrap: wrap;

        li {
          @include font(400, 16, 150%);
          letter-spacing: -0.03em;
          color: #fff;
          display: flex;
          align-items: center;

          .icon {
            width: 100%;
            max-width: 16px;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-right: 8px;
          }
        }

      }

    }

    .btn_group {
      justify-content: flex-start;
      margin-top: 40px;
    }

    &:nth-child(even){

      @media (min-width: $screen-md) {
        flex-direction: row-reverse;
      }

    }

  }

}