.info_card_holder {
  margin-bottom: 160px;

  @media (min-width: $screen-md) {
    margin-bottom: 200px;
  }

  .slider_container {
    max-width: 875px;
    margin: 0 auto;
    position: relative;

    .swiper-slide {
      height: auto;
    }

    .info_card_slider {

      .info_card {
        background: #2E2E2E;
        padding: 40px;
        border-radius: 16px;
        height: calc(100% - 80px);

        .title {
          @include h5();
          font-size: 24px;
          line-height: 24px;
          color: #fff;
          text-align: left;
          margin-bottom: 12px;
          text-transform: initial;
        }

        .content {
          @include p();
          font-size: 18px;
          line-height: 27px;
          color: #fff;
          text-align: left;
        }

      }

    }

    .arrows {
      position: relative;
      width: 100%;
      z-index: 9;
      display: flex;
      justify-content: center;
      gap: 16px;

      .background_caro_button {
        width: 100%;
        display: flex;
        max-width: 48px;
        height: 48px;
        background: #fff;
        border-radius: 100px;
        align-items: center;
        justify-content: center;
        transition: ease all 0.3s;

        svg {
          max-width: 24px;
        }
      }

      .swiper-button-disabled {
        opacity: 0.24;
      }

    }

    .slide_pagination {
      display: flex;
      margin-top: 40px;
      align-items: center;

      @media (min-width: $screen-md) {
        position: absolute;
        top: 20%;
        left: 0;
        width: 100%;
      }

      .info_card_caro_prev {

        @media (min-width: $screen-md) {
          left: -75px;
          position: absolute;
        }

      }

      .info_card_caro_next {
        @media (min-width: $screen-md) {
          right: -75px;
          position: absolute;
        }
      }

    }

    .scrollbar {
      width: 100%;
      margin-right: 24px;
    }

    .facilities_caro_progress {
      position: relative;
      width: 100%;
      background: #3f3f3f;
      border-radius: 2px;
      height: 2px;

      .swiper-pagination-progressbar-fill {
        position: absolute;
        top: 0;
        background: #fff;
        width: 100%;
        height: 2px;
        transform-origin: left top;
      }

    }

    .swiper {


      @media (min-width: $screen-md) {
        //overflow: visible;
      }

      .swiper-wrapper {


        @media (min-width: $screen-md) {
          //overflow: hidden;
        }

      }

    }

  }

}