.instructor_carousel_holder {
  margin-bottom: 160px;

  @media (min-width: $screen-md) {
    margin-bottom: 200px;
  }

  .container {
    overflow-x: hidden;
    height: 435px;
  }

  .instructor_carousel {
    top: 50px;
    position: relative;

    .swiper-slide {
      transition: 0.4s;
    }

    .instructor_slide {
      background: #3F3F3F;
      border-radius: 16px;
      height: 267px;
      background-size: cover;
      background-position: 50%;

      .instructor_info {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;

        .overlay {
          background: rgba(37, 37, 37, 0.64);
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          z-index: 2;
          opacity: 0;
          @media (min-width: $screen-md) {
            opacity: 1;
          }
        }

        .content {
          position: absolute;
          bottom: 24px;
          left: 24px;

          .name {
            font-size: 16px !important;
            @include font(350,20,150%);
            color: #FFF;
            text-align: left;
            margin-bottom: 8px;
          }

          .type {
            font-size: 26px !important;
            @include h3();
            text-align: left;
            color: #fff;
          }

        }

      }

    }

    .swiper-pagination {
      margin: 0 auto;
      position: relative;
      bottom: -80px;
      text-align: center;
    }

  }

  .swiper-slide-active {

    @media (min-width: $screen-md) {
      transform: scale(1.63, 1.35) !important;
      z-index: 9;

      .instructor_slide {
        background-size: 100% 100%;

        .instructor_info {

          .overlay {
            background: linear-gradient(180deg, rgba(37, 37, 37, 0.0512) 0%, rgba(37, 37, 37, 0.512) 100%);
            z-index: 0;
          }

          .content {
            transform: scale(0.61, 0.74) !important;
            transform-origin: bottom left;

            .name {
              font-size: 20px;
            }

            .type {
              font-size: 48px !important;
            }

          }

        }

      }
    }


  }

  $black: #000;
  $white: #fff;
  $color-bullets: #FFF;

  // MIXIN - ANIMATION AND KEYFRAMES
  // =================================================
  @mixin keyframes($animationName) {
    @-webkit-keyframes #{$animationName} {
      @content;
    }
    @-moz-keyframes #{$animationName} {
      @content;
    }
    @-o-keyframes #{$animationName} {
      @content;
    }
    @keyframes #{$animationName} {
      @content;
    }
  }

  @mixin animation($animate...) {
    $max: length($animate);
    $animations: '';
    @for $i from 1 through $max {
      $animations: #{$animations + nth($animate, $i)};
      @if $i < $max {
        $animations: #{$animations + ", "};
      }
    }
    -webkit-animation: $animations;
    -moz-animation: $animations;
    -ms-animation: $animations;
    animation: $animations;
  }



  // KEYFRAMES
  // =================================================
  @include keyframes(progress) {
    0% {
      stroke-dashoffset: 75;
      opacity: 1;
    }
    95% {
      stroke-dashoffset: 0;
      opacity: 1;
    }
    100% {
      opacity: 0;
      stroke-dashoffset: 0;
    }
  }

  .swiper-pagination-bullet{
    background-color: transparent;
    opacity: 0.7;

    // bullet svg animation
    &--svg-animation {
      width: 26px;
      height: 26px;
      margin: 0 6px !important;
      display: inline-block;

      svg {
        @include prefix(transform, rotate(-90deg));
      }

      .svg__circle-inner {
        stroke: #252525;
        fill: transparent;
        @include prefix(transition, all 0.7s ease);
      }
    }

    .svg__circle {
      fill: rgba(255, 255, 255, 0.24);
    }

    .svg__circle-inner {
      fill:#252525;
    }

    &-active {
      .svg__circle {
        stroke: #FFF;
        stroke-dasharray: 75;
        stroke-dashoffset: 0;
        @include animation(progress 7s ease-in-out 1 forwards);
      }
      .svg__circle-inner {
        fill: #252525;
      }
    }
  }

}
