.no_kid_facilities {
  display: flex;
  flex-direction: column;
  background: #3F3F3F;
  border-radius: 24px;
  overflow: hidden;

  @media (min-width: $screen-md) {
    flex-direction: row;
  }

  .content {
    flex: 1;
    padding: 40px 24px;
    max-width: 100%;
    order: 1;

    @media (min-width: $screen-md) {
      max-width: 50%;
      order: 0;
      padding: 48px;
    }

    .title {
      font-size: 32px;
      line-height: 100%;
      color: #FFF;
      text-align: left;
      letter-spacing: -0.06em;
      font-weight: bold;
      margin-bottom: 24px;

      br {
        display: none;

        @media (min-width: $screen-md) {
          display: block;
        }

      }

    }

    .description {
      font-weight: 350;
      font-size: 16px;
      line-height: 150%;
      color: #FFF;
      text-align: left;
      letter-spacing: -0.03em;
      margin-bottom: 24px;
    }

    .tag {
      font-weight: 325;
      font-size: 14px;
      line-height: 200%;
      color: #7C7C7C;
      text-align: left;

      @media (min-width: $screen-md) {
        line-height: 150%;
      }

      .clubv {
        background: #50b8df;
        border-radius: 4px;
        padding: 4px 8px 3px;
        margin: 0 8px;
        color: #FFFFFF;
      }

      .clubvmax {
        background: #AA80B4;
        border-radius: 4px;
        padding: 4px 8px 3px;
        margin: 0 8px;
        color: #FFFFFF;
      }

    }

  }

  .image {
    flex: 1;
    position: relative;
    max-width: 100%;
    order: 0;
    min-height: 300px;

    @media (min-width: $screen-md) {
      max-width: 50%;
      order: 1;
      min-height: unset;
    }

    img {
      min-height: 300px;
      object-fit: cover;
    }

    .overlay {
      background: linear-gradient(360deg, #3F3F3F 0%, rgba(63, 63, 63, 0.08) 100%);
      position: absolute;
      top: 0;
      left: -1px;
      width: calc(100% + 2px );
      height: 100%;

      @media (min-width: $screen-md) {
        background: linear-gradient(90deg, #3F3F3F 0%, rgba(63, 63, 63, 0.08) 100%);
      }
    }

  }

}