.site_mobile_modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 91;
  background: $black;

  .modal_header {
    position: absolute;
    top: 24px;
    right: 24px;
    z-index: 10;
    display: flex;
    align-items: center;
    width: 100%;

    button {
      background: #fff;
      width: 100%;
      max-width: 48px;
      height: 48px;
      border-radius: 100px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-left: auto;

      svg {
        max-width: 24px;
      }
    }
  }

  .modal_background {
    position: relative;
    z-index: 1;

    img {
      height: 100vh;
    }

    .overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;

      &.overlay_green {
        background: linear-gradient(
          0deg,
          #43bbbb 0%,
          rgba(67, 187, 187, 0.4) 100%
        );
      }

      &.overlay_purple {
        background: linear-gradient(
          0deg,
          #3f1f46 0%,
          rgba(63, 31, 70, 0.4) 98.96%
        );
      }

      &.overlay_grey {
        background: linear-gradient(
          0deg,
          #2c2c2c 0%,
          rgba(44, 44, 44, 0.4) 100%
        );
      }

      &.overlay_red {
        background: linear-gradient(
          0deg,
          #db1418 0%,
          rgba(219, 20, 24, 0.4) 100%
        );
      }

      &.overlay_pink {
        background: linear-gradient(
          0deg,
          #f29b8d 0%,
          rgba(242, 155, 141, 0.4) 100%
        );
      }

      &.overlay_beige {
        background: linear-gradient(
          0deg,
          #9d8d7e 0%,
          rgba(157, 141, 126, 0.4) 100%
        );
      }
    }
  }

  // Modal Body Copy

  .modal_body_copy {
    position: absolute;
    top: 0;
    z-index: 5;
    padding: 112px 40px 0;

    h3 {
      @include font(600, 32, 100%);
      color: #fff;
      margin-bottom: 24px;
    }

    p {
      @include font(500, 18, 150%);
      text-align: left;
      color: #fff;
      margin-bottom: 24px;
      letter-spacing: -0.015em;
    }

    .included_classes {
      p {
        @include font(400, 18, 150%);
        letter-spacing: -0.015em;
        color: #fff;
        margin-bottom: 8px;
        text-align: left;
      }

      .class_list {
        display: flex;
        flex-wrap: wrap;
      }

      .list_item {
        display: flex;
        @include font(500, 18, 150%);
        color: #fff;
        margin-right: 16px;

        .icon {
          width: 100%;
          max-width: 16px;
          display: flex;
          align-items: center;
          justify-content: center;
          margin-right: 8px;
        }
      }
    }
    .explore_button {
      justify-content: flex-start;
      margin-top: 40px;
    }
  }

  .modal_footer {
    position: absolute;
    bottom: 40px;
    left: 40px;
    display: flex;
    width: 100%;
    z-index: 200;

    .btn_arrow {
      width: 100%;
      max-width: 48px;
      height: 48px;
      display: flex;
      align-items: center;
      justify-content: center;
      background: rgba(37, 37, 37, 0.32);
      border-radius: 100px;

      svg {
        max-width: 24px;

        path {
          stroke: #fff;
        }
      }
    }

    .arrow_prev {
      margin-right: 16px;
    }
  }
}
