.tabbed_content {

  .tab_title_holder {
    display: flex;
    justify-content: center;
    margin-bottom: 80px;
    margin-top: 80px;
    flex-direction: row;

    @media (min-width: $screen-md) {
      margin-top: 0;
    }

    .tab_list_title {
      background-color: #2E2E2E;
      display: flex;
      flex-direction: column;
      position: relative;
      border-radius: 13px;
      padding: 7px;
      cursor: pointer;
      width: 100%;

      @media (min-width: $screen-md) {
        flex-direction: row;
        width: unset;
        padding: 5px;
        border-radius: 22px;
      }

      &:before {
        content: '';
        z-index: -11;
        position: absolute;
        top: -1px;
        left: -1px;
        background: linear-gradient(rgb(75, 75, 75) 0%, rgb(75, 75, 75) 50%, rgba(75, 75, 75, 0.15) 100%);
        border-radius: 13px;
        width: calc(100% + 2px);
        height: calc(100% + 2px);

        @media (min-width: $screen-md) {
          border-radius: 24px;
        }

      }

      .tab_title_content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        position: relative;

        .title {
          @include font(600, 14, 100%);
          color: #7C7C7C;
          font-weight: bold;
          margin-bottom: 0;

          @media (min-width: $screen-md) {
            @include font(600, 20, 100%);
            margin-bottom: 4px;
          }

        }

        .description {
          @include font(400, 14, 150%);
          color: #7C7C7C;
        }

      }

      .inner {
        padding: 10.5px 7px;
        border-radius: 15px;
        transition: 0.4s;

        @media (min-width: $screen-md) {
          padding: 16px;
        }
      }

      .active {


        &:before {
          content: '';
          z-index:4;
          position: absolute;
          top: -1px;
          left: -1px;
          background: linear-gradient(rgb(75, 75, 75) 0%, rgb(75, 75, 75) 50%, rgba(75, 75, 75, 0.15) 100%);
          border-radius: 16px;
          width: calc(100% + 2px);
          height: calc(100% + 2px);
        }

        .inner {
          background-color: #393939;
          position: relative;
          z-index: 6;
        }

        .title {
          color: #fff;
        }

        .description {
          color: rgba(255, 255, 255, 0.64);
        }

      }

    }

  }

  .tab_list_content {

    .medical_aid_info {
      margin-top: 50px;
      margin-bottom: 40px;
    }

  }

}