.testimonials_block {
  text-align: center;
  margin-bottom: 100px;

  .red-icon {
    max-width: 54px;
    margin-bottom: 24px;
  }

  .testimonial_slider {
    overflow: hidden;

    .testimonial-content {
      text-align: center;
      @include font(325, 24, 150%);
      color: #fff;
      max-width: 800px;
      margin: 0 auto;
      margin-bottom: 24px;
    }

    .testimonial-name {
      text-align: center;
      @include font(400, 16, 150%);
      color: #fff;
      margin-bottom: 5px;
    }

    .testimonial-role {
      text-align: center;
      @include font(400, 16, 150%);
      color: #7C7C7C;
      margin-bottom: 54px;
    }

    .swiper-pagination {
      margin: 0 auto;
      position: relative;
      bottom: 0px;
      text-align: center;
    }

  }

  $black: #000;
  $white: #fff;
  $color-bullets: #FFF;

  // MIXIN - ANIMATION AND KEYFRAMES
  // =================================================
  @mixin keyframes($animationName) {
    @-webkit-keyframes #{$animationName} {
      @content;
    }
    @-moz-keyframes #{$animationName} {
      @content;
    }
    @-o-keyframes #{$animationName} {
      @content;
    }
    @keyframes #{$animationName} {
      @content;
    }
  }

  @mixin animation($animate...) {
    $max: length($animate);
    $animations: '';
    @for $i from 1 through $max {
      $animations: #{$animations + nth($animate, $i)};
      @if $i < $max {
        $animations: #{$animations + ", "};
      }
    }
    -webkit-animation: $animations;
    -moz-animation: $animations;
    -ms-animation: $animations;
    animation: $animations;
  }



  // KEYFRAMES
  // =================================================
  @include keyframes(progress) {
    0% {
      stroke-dashoffset: 75;
      opacity: 1;
    }
    95% {
      stroke-dashoffset: 0;
      opacity: 1;
    }
    100% {
      opacity: 0;
      stroke-dashoffset: 0;
    }
  }

  .swiper-pagination-bullet{
    background-color: transparent;
    opacity: 0.7;

    // bullet svg animation
    &--svg-animation {
      width: 16px;
      height: 16px;
      margin: 0 6px !important;
      display: inline-block;

      svg {
        @include prefix(transform, rotate(-90deg));
      }

      .svg__circle-inner {
        stroke: #252525;
        fill: transparent;
        @include prefix(transition, all 0.7s ease);
      }
    }

    .svg__circle {
      fill: rgba(255, 255, 255, 0.24);
    }

    .svg__circle-inner {
      fill:#252525;
    }

    &-active {
      .svg__circle {
        stroke: #FFF;
        stroke-dasharray: 75;
        stroke-dashoffset: 0;
        @include animation(progress 7s ease-in-out 1 forwards);
      }
      .svg__circle-inner {
        fill: #252525;
      }
    }
  }

}