.two-column-content {
  display: flex;
  flex-direction: column;
  //margin-bottom: 120px !important;

  @media (min-width: $screen-md) {
    flex-direction: row;
    gap: 80px;
    margin-bottom: 200px;
  }

  .left {

    @media (min-width: $screen-md) {
      order: 1;
      margin-top: 0;
    }

  }

  .right {


    @media (min-width: $screen-md) {
      order: 0;
      margin-bottom: 0;
    }

  }

  .column {
    width: 100%;
    max-width: 100%;

    @media (min-width: $screen-md) {
      max-width: 50%;
    }

  }

  .image-column {
    border-radius: 16px;
    overflow: hidden;
    margin-bottom: 40px;

    @media (min-width: $screen-md) {
      margin-bottom: 0px;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

  }

  .content-column {

    h5 {
      @include h5();
      text-align: left;
      margin-bottom: 24px;
    }

    h3 {
      @include h3();
      color: #fff;
      text-align: left;
      margin-bottom: 24px;
    }

    h2 {
      @include h2();
      color: #fff;
      text-align: left;
      margin-bottom: 40px;

      br {
        display: none;

        @media (min-width: $screen-md) {
          display: block;
        }

      }

    }

    p {
      @include p();
      font-size: 18px;
      text-align: left;
      line-height: 27px;
      margin-bottom: 40px;
      color: #fff;

      strong {
        color:#fff;
      }

    }

    ul {

      li {
        @include font(400, 16, 150%);
        letter-spacing: -0.03em;
        color: #fff;
        display: flex;
        align-items: center;
        margin-bottom: 12px;

        .icon {
          width: 100%;
          max-width: 16px;
          display: flex;
          align-items: center;
          justify-content: center;
          margin-right: 12px;
        }
      }

    }

    .btn_group {
      flex-direction: column;

      @media (min-width: $screen-md) {
        flex-direction: row;
        justify-content: flex-start;
      }

      .btn {
        padding: 14px 24px;
      }

      a {
        width: 100%;
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 24px;

        @media (min-width: $screen-md) {
          width: auto;
          margin-bottom: unset;
          margin-right: 12px;
        }

      }

    }

    .show_more_text,
    .hide_more_text {
      @include font(400, 16, 150%);
      letter-spacing: -0.03em;
      color: $grey2;
      display: flex;
      align-items: center;
      margin-bottom: 80px;

      .icon {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        max-width: 24px;
        height: 24px;
        margin-left: 16px;
      }
    }

    .hide_more_text {
      .icon {
        transform: rotate(180deg);
      }
    }

    .more {
      p {
        opacity: 0.64;
      }
    }

  }



  .middle_align {
    display: flex;
    flex-direction: column;
    justify-content: center;

    ul {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      gap: 16px;
    }

  }

}

.mobile_invert {

  .image-column {
    order: 1 !important;
  }

  .content-column {
    order: 0 !important;
  }

}

.middle_align_content {

  .content-column {
    h2 {
      text-align: center;
    }
    p {
      text-align: center;
    }
  }

}