.vertical_promo_section {
  margin-bottom: 160px;
  position: relative;
  @media (min-width: $screen-md) {
    margin-bottom: 200px;
  }

  .slide_image_wrapper {
    position: relative;
    z-index: 1;
  }

  .slide_image_shim {
    position: relative;
    z-index: 1;
  }

  .slide_image_container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .slide_image {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;

    &:before {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      z-index: 1;
      background: linear-gradient(
        0deg,
        #2c2c2c 0%,
        rgba(44, 44, 44, 0.24) 100%
      );
      opacity: 0.24;
      top: 0;
      left: 0;
    }
    &:after {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      z-index: 4;
      background: rgba(46, 46, 46, 0.56);
      top: 0;
      left: 0;
    }
  }

  .slide_text_wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 6;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .slide_text {
    // color: #fff;
    color: rgba(255, 255, 255, 0.56);
    @include font(800, 36, 36px);
    letter-spacing: -0.06em;
    margin-bottom: 56px;
    transition: ease all 0.3s;

    @media (min-width: $screen-md) {
      font-size: 48px;
      line-height: 48px;
      margin-bottom: 64px;
    }

    &.active {
      color: #fff;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}
