.map_actions {
  position: relative;
  margin-top: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-left: auto;
  margin-right: 24px;
  margin-bottom: 8px;
  @media (min-width: $screen-md) {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
  }

  .action_button {
    background: $black;
    width: 56px;
    height: 56px;
    border-radius: 100px;
    margin-bottom: 16px;
    display: flex;
    align-items: center;
    justify-content: center;

    .icon {
      width: 100%;
      max-width: 24px;
      height: 24px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  .map_list_cta {
    position: fixed;
    bottom: 24px;
    width: 100%;

    .btn {
      display: flex;
      padding: 18px 25px;
    }

    .icon {
      width: 100%;
      max-width: 24px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-right: 12px;
    }
  }
}
