.experts_list_desktop {
  .expert {
    background: linear-gradient(
        98.79deg,
        rgba(255, 255, 255, 0.08) 0%,
        rgba(255, 255, 255, 0) 35.82%
      ),
      #2e2e2e;
    border-radius: 16px;
    overflow: hidden;
    margin-bottom: 16px;
    transition: ease all 0.4s;
  }
  .expert_wrap_inner {
    display: flex;

    flex-direction: column;
    position: relative;
    padding: 40px;
    position: relative;

    &:before {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      width: 100%;
      max-width: 46%;
      height: 100%;
      z-index: 2;
      background: linear-gradient(
        90deg,
        #2e2e2e 0%,
        rgba(46, 46, 46, 0.24) 100%
      );
    }
  }

  .image {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    max-width: 46%;
    height: 100%;
    z-index: 1;
    background-repeat: no-repeat;
    background-position: 100% 0;
    background-size: cover;
    transition: ease all 0.3s;
  }

  .expert_wrapper_body {
    position: relative;
    z-index: 5;
  }

  .icon_wrap {
    position: absolute;
    right: 56px;
    width: 100%;
    max-width: 56px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
  }

  .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 56px;
    height: 56px;
    background: rgba(255, 255, 255, 0.32);
    backdrop-filter: blur(8px);
    margin-left: auto;
    border-radius: 100px;

    &:hover {
      cursor: pointer;
    }

    &.open {
      background: #fff;

      svg {
        path {
          stroke: $black;
        }
      }
    }

    svg {
      max-width: 24px;

      path {
        stroke: #fff;
      }
    }
  }

  .expert_title {
    @include font(800, 24, 100%);
    letter-spacing: -0.06em;
    color: #fff;
  }

  .expert_body {
    margin-top: 24px;
  }

  p {
    @include font(500, 18, 150%);
    text-align: left;
    margin: 0 0 0;
    color: $grey2;
  }

  p.small {
    margin: 24px 0 8px;
    padding-top: 0;
    padding-bottom: 10px;
    font-weight: 450;
  }

  .list_group {
    display: flex;
    flex-wrap: wrap;

    .item {
      @include font(450, 14, 150%);
      color: $grey2;
      display: flex;
      align-items: center;
      white-space: nowrap;
      margin-right: 16px;
      margin-bottom: 8px;

      &:before {
        content: "";
        // width: 100%;
        width: 16px;
        height: 18px;
        background-image: url(@/assets/img/list_check.svg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 100% auto;
        display: block;
        margin-right: 8px;
      }
    }
  }

  .btn_group {
    margin-top: 40px;
    justify-content: flex-start;
  }
}
